div.container-produtos{
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 10px;
}

div.produtos{
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.btn-detalhes{
    border: 0;
    padding: 5px;
    width: 120px;
    border: 1px solid crimson;
    background-color: #fff;
    color: crimson;
    margin-top: 5px;
    border-radius: 3px;
}

.btn-detalhes:hover{
    background-color:crimson;
    color: #fff;
    cursor: pointer;
}