
form {
    width: 500px;
    margin: auto;
    border: 1px solid #ddd;
    text-align: start;
    padding: 20px;
    margin-top: 25px;
}

form.grupo{
    width: 100%;
    margin: 5px;
}

input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}